.container-item:first-child {
    margin-top: 40px;
}

.container-item {
    width: 600px;
    height: 92px;

    border-radius: 5px;
    background-color: #f8f8f8;
    color: #000;

    display: flex;
    justify-content: space-around;
    align-items: center;

    & + .container-item{
        margin-top: 20px;
    }

    .informations {
        width: 55%;
        height: 90%;

        border: 1px solid #ccc;
        border-radius: 2px;
        padding: 5px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .name-repository {
            text-align: center;
            border-bottom: 1px solid #ccc;
            color: #2788C1;
        }

        .description-repository {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            height: 37px;
            min-height: 37px;
            max-height: 37px;
            overflow: hidden;
            text-align: center;

        }

        .language-repository {
            color: #FF9E28;
            text-align: right;
        }
    }

    .owner {
        width: 25%;
        height: 90%;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: space-around;

        .img-owner {
            width: 40px;
            height: 40px;
            background-color: rgb(116, 12, 12);
            border-radius: 50%;
        }

    }

    button {
        background-color: #a34d74;
        width: 15%;
        height: 90%;

    }
}