.container-item {
    width: 600px;
    height: 92px;

    border-radius: 5px;
    background-color: #f8f8f8;
    color: #000;

    display: flex;
    justify-content: space-around;
    align-items: center;

    & + .container-item{
        margin-top: 20px;
    }

    .informations {
        width: 55%;
        height: 90%;

        border: 1px solid #ccc;
        border-radius: 2px;
        padding: 5px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .name-repository {
            text-align: center;
            border-bottom: 1px solid #ccc;
            color: #20CC76;
            font-weight: 700;
        }

        .description-repository {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            color: #2788C1;

            height: 37px;
            min-height: 37px;
            max-height: 37px;
            overflow: hidden;
            text-align: center;

        }

        .language-repository {
            color: #FF9E28;
            text-align: right;
        }
    }

    .owner {
        width: 25%;
        height: 90%;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: space-around;

        border: 1px solid #ccc;
        border-radius: 2px;

        .owner-name {
            font-size: 11px;
        }

        .img-owner {
            width: 50px;
            height: 50px;
            background-color: rgb(116, 12, 12);
            border-radius: 50%;
        }

    }

}
@media (max-width: 630px){
    .container-item {
        width: 300px;
        height: 100px;

        .informations {
            width: 80%;
            height: 90%;
        }

        .owner {
            display: none;
        }
     }
 }