header {
    height: 140px;
    background-color: #20CC76;

    .principal-header {
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        align-items: center;

        .logo-principal {
            height: 140px;
            width: 140px;
        }

        .logo-secundary {
            margin-top: -15px;
        }
    }

    .container-icons {
        width: 140px;
        position: absolute;
        right: 10px;
        top: 10px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .icons {
            transition: 0.7s;
        }

        .icons:hover {
            transition: 0.7s;
            opacity: 0.8;
        }

    }

    @media (max-width: 630px){
        .container-icons {
            width: 80px;
            .icons {
                height: 20px;
            }
        }
    }

}

main {
    input {
        margin-top: 40px;
        margin-bottom: 20px;

        padding: 4px;

        border: 0;

        background-color: #f8f8f8;
        color: #20CC76;

        font-weight: 700;

        width: 500px;
        height: 30px;
    }

    input::placeholder {
        color: #20CC76;
        opacity: 0.8;
    }

    input::placeholder {
        color: #20CC76;
        opacity: 0.8;
    }
    @media (max-width: 630px){
       input {
            width: 280px;
        }
    }
    

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

footer {
    background-color: #20CC76;

    position: absolute;
    bottom: -200px;
    width: 100%;
    height: 140px;

    

    display: flex;
    justify-content: center;
    align-items: center;
}